
.coverage
container/.dockerignore
container/.invenio
container/app_data/README.md
container/assets/less/site/globals/site.overrides
container/assets/less/site/globals/site.variables
container/assets/less/theme.config
container/assets/less/theme.less
container/assets/less/variables.less
container/assets/templates/search/.gitkeep
container/docker-compose.full.yml
container/docker-compose.yml
container/docker-services.yml
container/docker/nginx/conf.d/default.conf
container/docker/nginx/Dockerfile
container/docker/nginx/nginx.conf
container/docker/nginx/test.crt
container/docker/nginx/test.key
container/docker/uwsgi/uwsgi_rest.ini
container/docker/uwsgi/uwsgi_ui.ini
container/Dockerfile
container/invenio.cfg
container/Pipfile
container/Pipfile.lock
container/README.md
container/static/images/invenio-rdm.svg
container/templates/.gitkeep
docs/__pycache__/conf.cpython-36.pyc
docs/_build/html/.buildinfo
docs/_build/html/.doctrees/api.doctree
docs/_build/html/.doctrees/authors.doctree
docs/_build/html/.doctrees/changes.doctree
docs/_build/html/.doctrees/contributing.doctree
docs/_build/html/.doctrees/environment.pickle
docs/_build/html/.doctrees/index.doctree
docs/_build/html/.doctrees/installation.doctree
docs/_build/html/.doctrees/license.doctree
docs/_build/html/.doctrees/usage.doctree
docs/_build/html/_sources/api.rst.txt
docs/_build/html/_sources/authors.rst.txt
docs/_build/html/_sources/changes.rst.txt
docs/_build/html/_sources/contributing.rst.txt
docs/_build/html/_sources/index.rst.txt
docs/_build/html/_sources/installation.rst.txt
docs/_build/html/_sources/license.rst.txt
docs/_build/html/_sources/usage.rst.txt
docs/_build/html/_static/alabaster.css
docs/_build/html/_static/basic.css
docs/_build/html/_static/custom.css
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/file.png
docs/_build/html/_static/jquery-3.5.1.js
docs/_build/html/_static/jquery.js
docs/_build/html/_static/language_data.js
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/underscore-1.3.1.js
docs/_build/html/_static/underscore.js
docs/_build/html/api.html
docs/_build/html/authors.html
docs/_build/html/changes.html
docs/_build/html/contributing.html
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/installation.html
docs/_build/html/license.html
docs/_build/html/objects.inv
docs/_build/html/py-modindex.html
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/usage.html
invenio_cli.egg-info/dependency_links.txt
invenio_cli.egg-info/entry_points.txt
invenio_cli.egg-info/not-zip-safe
invenio_cli.egg-info/PKG-INFO
invenio_cli.egg-info/requires.txt
invenio_cli.egg-info/SOURCES.txt
invenio_cli.egg-info/top_level.txt
invenio_cli/__pycache__/__init__.cpython-36.pyc
invenio_cli/__pycache__/cli.cpython-36.pyc
invenio_cli/__pycache__/version.cpython-36.pyc
invenio_cli/helpers/__pycache__/__init__.cpython-36.pyc
invenio_cli/helpers/__pycache__/cli_config.cpython-36.pyc
invenio_cli/helpers/__pycache__/commands.cpython-36.pyc
invenio_cli/helpers/__pycache__/cookiecutter_wrapper.cpython-36.pyc
invenio_cli/helpers/__pycache__/docker_helper.cpython-36.pyc
invenio_cli/helpers/__pycache__/filesystem.cpython-36.pyc
invenio_cli/helpers/__pycache__/log.cpython-36.pyc
local/.dockerignore
local/.invenio
local/app_data/README.md
local/assets/less/site/globals/site.overrides
local/assets/less/site/globals/site.variables
local/assets/less/theme.config
local/assets/less/theme.less
local/assets/less/variables.less
local/assets/templates/search/.gitkeep
local/docker-compose.full.yml
local/docker-compose.yml
local/docker-services.yml
local/docker/nginx/conf.d/default.conf
local/docker/nginx/Dockerfile
local/docker/nginx/nginx.conf
local/docker/nginx/test.crt
local/docker/nginx/test.key
local/docker/uwsgi/uwsgi_rest.ini
local/docker/uwsgi/uwsgi_ui.ini
local/Dockerfile
local/invenio.cfg
local/Pipfile
local/Pipfile.lock
local/README.md
local/static/images/invenio-rdm.svg
local/templates/.gitkeep
tests/__pycache__/test_cli.cpython-36-pytest-6.1.1.pyc
tests/test_helpers/__pycache__/test_cli_config.cpython-36-pytest-6.1.1.pyc
tests/test_helpers/__pycache__/test_commands.cpython-36-pytest-6.1.1.pyc
tests/test_helpers/__pycache__/test_cookiecutter_wrapper.cpython-36-pytest-6.1.1.pyc
tests/test_helpers/__pycache__/test_dockerhelper.cpython-36-pytest-6.1.1.pyc
tests/test_helpers/__pycache__/test_filesystem.cpython-36-pytest-6.1.1.pyc
container/.gitignore
local/.gitignore
