# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Idea software family
.idea/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Vim swapfiles
.*.sw?
.DS_Store
container-2/.dockerignore
container-2/.invenio
container-2/app_data/README.md
container-2/assets/less/site/globals/site.overrides
container-2/assets/less/site/globals/site.variables
container-2/assets/less/theme.config
container-2/assets/less/theme.less
container-2/assets/less/variables.less
container-2/assets/templates/search/.gitkeep
container-2/docker-compose.full.yml
container-2/docker-compose.yml
container-2/docker-services.yml
container-2/docker/nginx/conf.d/default.conf
container-2/docker/nginx/Dockerfile
container-2/docker/nginx/nginx.conf
container-2/docker/nginx/test.crt
container-2/docker/nginx/test.key
container-2/docker/uwsgi/uwsgi_rest.ini
container-2/docker/uwsgi/uwsgi_ui.ini
container-2/Dockerfile
container-2/invenio.cfg
container-2/Pipfile
container-2/Pipfile.lock
container-2/README.md
container-2/static/images/invenio-rdm.svg
container-2/templates/.gitkeep
my-site/.dockerignore
my-site/.invenio
my-site/app_data/README.md
my-site/assets/less/site/globals/site.overrides
my-site/assets/less/site/globals/site.variables
my-site/assets/less/theme.config
my-site/assets/less/theme.less
my-site/assets/less/variables.less
my-site/assets/templates/search/.gitkeep
my-site/docker-compose.full.yml
my-site/docker-compose.yml
my-site/docker-services.yml
my-site/docker/nginx/conf.d/default.conf
my-site/docker/nginx/Dockerfile
my-site/docker/nginx/nginx.conf
my-site/docker/nginx/test.crt
my-site/docker/nginx/test.key
my-site/docker/uwsgi/uwsgi_rest.ini
my-site/docker/uwsgi/uwsgi_ui.ini
my-site/Dockerfile
my-site/invenio.cfg
my-site/Pipfile
my-site/Pipfile.lock
my-site/README.md
my-site/static/images/invenio-rdm.svg
my-site/templates/.gitkeep
new/.dockerignore
new/.invenio
new/app_data/README.md
new/assets/less/site/globals/site.overrides
new/assets/less/site/globals/site.variables
new/assets/less/theme.config
new/assets/less/theme.less
new/assets/less/variables.less
new/assets/templates/search/.gitkeep
new/docker-compose.full.yml
new/docker-compose.yml
new/docker-services.yml
new/docker/nginx/conf.d/default.conf
new/docker/nginx/Dockerfile
new/docker/nginx/nginx.conf
new/docker/nginx/test.crt
new/docker/nginx/test.key
new/docker/uwsgi/uwsgi_rest.ini
new/docker/uwsgi/uwsgi_ui.ini
new/Dockerfile
new/invenio.cfg
new/Pipfile
new/Pipfile.lock
new/README.md
new/static/images/invenio-rdm.svg
new/templates/.gitkeep
my-site/.gitignore
new/.gitignore
container-2/.gitignore
